span{
    color: blueviolet;
}

div p span{
    color: tomato;
}

/* ul>li{
    color: blue;
} */

/* li+li{
    color: crimson; 
} */

li~li{
    color: rgb(21, 255, 0); 
}


a:link{
    color: aqua;
}

a:visited{
    color: #ddff1f;
}

a:hover{
    border: 1px solid red;
    color: black;
}

/* ul>li:first-child{
    color: green;
} */

/* li:first-child{
    color: green;
} */

/* li:last-child{
    color: rgb(114, 68, 0);
} */

ul>li:nth-child(2n){
    border: 1px solid rebeccapurple;
    color: green;
    background-color: bisque;
}

ul>li:nth-child(2n+1){
    border: 1px solid rgb(167, 99, 236);
    color: rgb(25, 250, 25);
    background-color: rgb(151, 95, 26);
}

div p::first-letter{
    font-size: 50px;
}

 li::before{
    content: '😂';
}

li::after{
    content: '🤣';
}
